
    <footer>
        <!--Dynamic year-->
        <div>
            Copyright © <%= new Date().getFullYear() %> Ayesh De Silva
        </div>

        <!--Link to the open library api-->
        <div class="reference">
            <p>API was used from <a href="https://openlibrary.org/dev/docs/api/covers">openlibrary.org</a></p>
        </div>

    </footer>

</body>
</html>