<%- include("partials/header.ejs") %>
 
<!--Container class for the add form-->
<section id="add" class="container">

    <h1 class="heading">Add New Books</h1>

    <form class="add-edit-form" action="/add" method="post">

        <!--Title input. Is required-->
        <input type="text" name="newTitle" placeholder="Title" autocomplete="off" required>

        <!--Author name input. Is required-->
        <input type="text" name="newAuthor" placeholder="Author" autocomplete="on" required>

        <!--ISBN number input. Is required-->
        <input type="text" name="newIsbn" placeholder="ISBN Number" autocomplete="off" required>

        <!--Rating input. Can submit from 1 - 5 and float numbers are included. Is required-->
        <input type="number" name="newRating" placeholder="Rating" min="1" max="5" step=".01" autocomplete="off">

        <!--Review input. Not Required-->
        <textarea name="newReview" placeholder="Review" rows="7" autocomplete="off"></textarea>

        <!--Add submit button-->
        <button class="button" type="submit" name="publish">Add Book</button>

    </form>
    
</section>

<%- include("partials/footer.ejs")  %>